.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 430px;
	height: 932px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#cross {
	position: absolute;
	width: 430px;
	height: 323px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_28 {
	opacity: 0.669;
	fill: rgba(0,0,0,1);
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 323px;
	left: 0px;
	top: 0px;
}
#WELCOME {
	left: 20px;
	top: 113px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#SOO_JUNG_INTERNATIONAL_MINISTR {
	left: 20px;
	top: 185px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(255,255,255,1);
}
#TO_SJIM_ANSAN {
	left: 20px;
	top: 145px;
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 29px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(248,203,51,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 161px;
	height: 5px;
	left: 19.5px;
	top: 177.5px;
	transform: matrix(1,0,0,1,0,0);
}
#SJIM_ANSAN {
	left: 19.5px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Line_12 {
	fill: transparent;
	stroke: rgba(248,203,51,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 9.977px;
	height: 5px;
	left: 27.652px;
	top: 35.56px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13 {
	fill: transparent;
	stroke: rgba(248,203,51,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 2.92px;
	height: 5px;
	left: 27.652px;
	top: 19.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 26px;
	top: 403px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Program.html;
	cursor: pointer;
}
#Rectangle_24 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
}
#PROGRAM {
	left: 0px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 24px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
#Group_7 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 26px;
	top: 537px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
    	cursor: pointer;
}
#Group_4 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
	overflow: visible;
    --web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: AI Inference.pptx;
}
#Rectangle_26 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
}
#SERMON_POWERPOINT {
	left: 0px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 50px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
#Group_9 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 223px;
	top: 403px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
	overflow: visible;
    --web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: EveryweekOutline.html;
	cursor: pointer;
}
#Rectangle_25 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
}
#OUTLINE {
	left: 0px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 24px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
#Group_6 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 223px;
	top: 537px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
	overflow: visible;
    --web-animation: fadein undefineds undefined;
	--web-action-type: page;
    cursor: pointer;
    
}
#Rectangle_27 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 118px;
	left: 0px;
	top: 0px;
}
#FACEBOOK_PAGE {
	left: 0px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 50px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
